.emotions-form {
  padding-bottom: 140px;
  color: @black-color;
  background-color: @white-color;
  border: 1px solid orange;

  &__title {
    padding-top: 20px;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__textarea {
    color: @black-color;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
    background-color: @text-area;
  }

}
