.emotions-form {
  padding-bottom: 135px;
  color: @black-color;
  background-color: @white-color;
  border: 1px solid orange;

  &__title {
    margin-top: 0;
    margin-bottom: 25px;
    padding-top: 20px;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  &__textarea {
    width: 280px;
    box-sizing: border-box;
    margin-top: 0;
    padding-left: 25px;
    color: @black-color;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
    background-color: @text-area;
    border: 1px red solid;
  }
}

@media (min-width: @tablet-width) {
  .emotions-form {
    margin: 0;

    &__title {
      margin-bottom: 65px;
      padding-top: 0;
      font-size: 21px;
    }

    &__textarea {
      width: 345px;
      margin-left: 60px;
      padding-bottom: 113px;
    }
  }
}
