.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
  margin: 0 auto;
  color: @black-color;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: @footer-color;

  &__text {
    margin-right: 10px;
    align-self: center;
  }

  &__link {
      align-self: center;
      padding-top: 18px;
  }
}

@media (min-width: @tablet-width) {
  .footer-copyright {
    width: 256px;
    height: 120px;
  }
}

@media (min-width: @desktop-width) {
  .footer-copyright {
    justify-content: flex-end;
    width: 400px;

    &__link {
      margin-right: 45px;
    }
  }
}
