.form-places {
    color: #000000;
background-color: #ffffff;

&__title {
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

&__label {
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
}

}
