.form-review {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 36px;
  background-color: @text-area;
  border: 1px solid red;

  &__name {
    padding-top: 15px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 20px;
    margin: 0;
  }

  &__contacts {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  &__details {
    padding: 0;
    margin: 0;
  }

  &__places {
    margin: 0;
  }

  &__button {
    width: 280px;
    margin: 0 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: @white-color;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: @navigation-color;
  }

  @media (min-width: @tablet-width) {
    .form-review {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0;
      padding-top: 20px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 40px;

      &__name {
        width: 384px;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        order: 1;
      }

      &__contacts {
        width: 768px;
        margin: 0;
        padding-top: 0;
        padding-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
        order: 2;
      }

      &__details {
        width: 384px;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        order: 0;
      }

      &__places {
        width: 768px;
        margin: 0;
        padding-top: 0;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
        order: 3;
      }

      &__emotions {
        width: 768px;
        margin: 0;
        padding-top: 0;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
        order: 4;
      }

      &__button {
        width: 324px;
        margin-top: 0;
        margin-bottom: 15px;
        margin-left: 60px;
        margin-right: auto;
        font-size: 18px;
        order: 5;
      }
  }
}

@media (min-width: @desktop-width) {
  .form-review {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;

    &__name {
      width: 50%;
      padding-top: 0;
      padding-bottom: 40px;
      padding-left: 0;
      padding-right: 0;
    }

    &__contacts {
      width: 100%;
      padding-top: 0;
    }

    &__details {
      width: 50%;
    }

    &__places {
      width: 100%;
    }

    &__emotions {
      width: 100%;
      margin: 0 auto;
    }

    &__button {
      width: 480px;
      height: 58px;
      margin-left: 120px;
      margin-right: 0;
    }
  }
}
