.form-details {
  padding-bottom: 0;
  color: @black-color;
  background-color: @white-color;
  border: 1px solid orange;

  &__title {
    margin-top: 0;
    margin-bottom: 35px;
    padding-top: 20px;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  &__label {
    margin-left: 37px;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 42px;
  }
}

@media (min-width: @tablet-width) {
  .form-details {
    margin: 0;

    &__title {
      margin-bottom: 75px;
      margin-left: 60px;
      padding-top: 8px;
      font-size: 21px;
      text-align: left;
    }

    &__text {
      margin-bottom: 50px;
      margin-left: 60px;
    }
  }
}
