.form-name {
  color: @black-color;
  background-color: @text-area;
  border: 1px solid orange;

  &__title {
    padding-top: 20px;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  &__label {
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__input {
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
  }
}
