.form-contacts {
  padding-bottom: 20px;
  color: @black-color;
  background-color: @text-area;
  border: 1px solid orange;

  &__title {
    padding-top: 20px;
    margin-bottom: 22px;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  &__text {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 30px;
  }

  &__label {
    margin: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__input {
    margin: 0;
    padding-top: 17px;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
    color: @black-color;
  }

  &__row {
    margin: 0;
    padding: 0;
  }

  &__icon {
    position: relative;

    &--mail {
      left: 244px;
      bottom: 28px;
    }

    &--phone {
      left: 240px;
      top: -30px;
    }
  }
}

@media (min-width: @tablet-width) {
  .form-contacts {
    margin: 0;
    padding-bottom: 0;

    &__title {
      padding-top: 30px;
      margin-bottom: 25px;
      font-size: 21px;
    }

    &__text {
      margin-left: 82px;
      padding: 0;
    }

    &__input {
      padding-top: 20px;
      margin-bottom: 10px;
    }

    &__icon {
      position: relative;

      &--mail {
        left: 668px;
        bottom: 38px;
      }

      &--phone {
        left: 663px;
        top: -40px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .form-contacts {
    &__title {
      margin: 0 auto;
      padding-top: 0;
      margin-bottom: 90px;
      font-size: 21px;
    }

    &__text {
      width: 200px;
      margin-left: 200px;
      margin-right: auto;
    }

    &__input {
      margin: 0;
      padding-top: 0;
      margin-bottom: 10px;
    }

    &__row {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &--mail {
      left: 668px;
      bottom: 38px;
    }

    &--phone {
      left: 0;
      top: -40px;
    }
  }
}
