.form-head {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  color: @black-color;
  text-align: center;
  background-color: @white-color;
  border: 1px solid green;

  &__caption {
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__text {
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .form-head {
    display: flex;
    flex-direction: column;
    width: 768px;
    min-height: 205px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
    color: @black-color;
    text-align: center;
    background-color: @white-color;
    border: 1px solid green;
  }
}

@media (min-width: @desktop-width) {
  .form-head {
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 240px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
    color: @black-color;
    text-align: center;
    background-color: @white-color;
    border: 1px solid green;
  }
}
