.form-name {
  color: @black-color;
  background-color: @text-area;
  border: 1px solid orange;

  &__title {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

&__text {
  padding-top: 10px;
  padding-bottom: 25px;
}

  &__label {
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__input {
    width: 130px;
    margin-left: 31px;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
  }
}

@media (min-width: @tablet-width) {
  .form-name {
    margin: 0;

    &__title {
      margin: 0;
      padding-top: 15px;
      padding-bottom: 42px;
      padding-left: 60px;
      font-size: 21px;
      text-align: left;
    }

    &__text {
      margin: 0;
      padding-top: 30px;
      padding-bottom: 20px;
      padding-left: 60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__title {
      margin: 0;
      padding-top: 15px;
      padding-bottom: 38px;
      padding-left: 80px;
      font-size: 21px;
      text-align: left;
    }

    &__text {
      margin: 0;
      padding-top: 30px;
      padding-bottom: 20px;
      padding-left: 80px;
    }
  }
  }
