.form-review {
  background-color: @text-area;
  border: 1px solid red;

&__button {
  color: @white-color;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: @navigation-color;
}

}
