.hotel-interest {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: @black-color;
  text-align: center;
  background-color: @white-color;

  &__caption {
    margin-top: 0;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    font-style: normal;
    font-size: 21px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__text {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 32px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__button {
    width: 280px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    color: @white-color;
    font-style: normal;
    font-size: 19px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: @navigation-color;
    border: none;
  }
}

@media (min-width: @tablet-width) {
  .hotel-interest {
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    padding-bottom: 58px;
    padding-left: 0;
    padding-right: 0;

    &__caption {
      margin-top: 0;
      margin-bottom: 17px;
      font-size: 30px;
      line-height: 22px;
    }

    &__text {
      margin-left: 165px;
      margin-right: 165px;
      margin-bottom: 40px;
      line-height: 26px;
    }

    &__button {
      width: 458px;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .hotel-interest {
    padding-top: 75px;
    padding-bottom: 67px;
    padding-left: 0;
    padding-right: 0;

    &__caption {
      margin-top: 0;
    }

    &__text {
      margin-left: 380px;
      margin-right: 380px;
      margin-bottom: 45px;
    }

    &__button {
      margin-bottom: 0;
    }
  }
}
