.hotel-interest {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: @black-color;
  text-align: center;
  background-color: @white-color;
  border: 1px solid red;

  &__caption {
    font-style: normal;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__text {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 24px;
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__button {
    width: 280px;
    color: @white-color;
    font-style: normal;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: @navigation-color;
  }
}

@media (min-width: @tablet-width) {
  .hotel-interest {
    display: flex;
    flex-direction: column;
    width: 768px;
    min-height: 320px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
    color: @black-color;
    text-align: center;
    background-color: @white-color;
    border: 1px solid red;

    &__button {
      width: 458px;
      margin: 0 auto;
      color: @white-color;
      font-style: normal;
      font-size: 21px;
      line-height: 26px;
      font-weight: bold;
      text-transform: uppercase;
      background-color: @navigation-color;
    }
  }
}

@media (min-width: @desktop-width) {
  .hotel-interest {
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 330px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
    color: @black-color;
    text-align: center;
    background-color: @white-color;
    border: 1px solid red;

    &__button {
      width: 458px;
      margin: 0 auto;
      color: @white-color;
      font-style: normal;
      font-size: 21px;
      line-height: 26px;
      font-weight: bold;
      text-transform: uppercase;
      background-color: @navigation-color;
    }
  }
}
