.main-tourist {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 40px;
  color: @black-color;
  background-color: @white-color;
  border: 1px solid blue;

  &__caption {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    padding-left: 50px;
    padding-right: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__icon {
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: @tablet-width) {
  .main-tourist {
    width: 256px;
    margin: 0;
    padding-top: 72px;
    padding-bottom: 62px;
    color: @black-color;
    background-color: @white-color;
    border: 1px solid blue;

    &__caption {
      padding-top: 25px;
      padding-bottom: 20px;
      font-size: 21px;
      line-height: 26px;
      text-align: center;
    }

    &__text {
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 25px;
      padding-right: 25px;
      line-height: 22px;
      text-align: center;
    }

    &__icon {
      text-align: center;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-tourist {
    width: 400px;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 82px;
    color: @black-color;
    background-color: @white-color;
    border: 1px solid blue;

    &__text {
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
    }
  }
}
