.main-nav {
  margin: 0;
  padding: 0;
  background-color: @white-color;
  border: 1px solid green;

  &__list {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: @white-color;
    background-color: @navigation-color;
    list-style: none;
  }

  &__item {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
  }
}


@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    width: 768px;
    height: 56px;
    margin: 0;
    padding: 0;
    background-color: @white-color;
    border: 1px solid green;

    &__list {
      display: flex;
      flex-direction: row;
      width: 616px;
      margin: 0;
      padding: 0;
      font-style: normal;
      font-size: 18px;
      line-height: 40px;
      font-weight: bold;
      text-transform: uppercase;
      color: @black-color;
      background-color: @white-color;
      list-style: none;
    }

    &__item {
      width: 154px;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    &__button {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 56px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0;
    background-color: @white-color;
    border: 1px solid green;

    &__list {
      display: flex;
      flex-direction: row;
      width: 960px;
      margin: 0;
      padding: 0;
      font-style: normal;
      font-size: 18px;
      line-height: 40px;
      font-weight: bold;
      text-transform: uppercase;
      color: @black-color;
      background-color: @white-color;
      list-style: none;
    }

    &__item {
      width: 240px;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    &__button {
      display: none;
    }
  }
}
