.main-head {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-top: 40px;
  text-align: center;
  background-color: @white-color;

  &__caption {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 28px;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: @black-color;
  }

  &__preview {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
    color: @black-color;
  }
}

@media (min-width: @tablet-width) {
  .main-head {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;

    &__caption {
      margin-top: 50px;
      margin-left: 150px;
      margin-right: 150px;
      margin-bottom: 30px;
      font-size: 21px;
    }

    &__preview {
      padding: 0;
      margin-top: 0;
      margin-bottom: 50px;
      margin-left: 140px;
      margin-right: 140px;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-head {
    padding: 0;

    &__caption {
      margin-top: 50px;
      margin-left: 380px;
      margin-right: 380px;
      margin-bottom: 30px;
      font-size: 21px;
      line-height: 26px;
    }
  }
}
