.main-promo {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 389px;
  background-color: @background-promo;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-position: center bottom, center -50px;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 26px, cover;
  border: 1px solid red;

  &__image-wrapper {
    max-width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .main-promo {
    margin: 0;
    padding: 0;
    width: 768px;
    height: 520px;
    background-color: @background-promo;
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-position: center bottom, center -50px;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 26px, cover;
    border: 1px solid red;
  }
}

@media (min-width: @desktop-width) {
  .main-promo {
    margin: 0;
    padding: 0;
    width: 1200px;
    height: 520px;
    background-color: @background-promo;
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-position: center bottom, center -50px;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 26px, cover;
    border: 1px solid red;
  }
}
