.main-reason {
  margin: 0;
  padding: 0;
  background-color: @white-color;

  &__decoration {
    padding-top: 13px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: @black-color;
    background-color: @decoration-background;

    &--color {
      padding-top: 40px;
      padding-bottom: 46px;
      padding-left: 26px;
      padding-right: 26px;
      color: @white-color;
      background-color: @navigation-color;
    }

    &--bridge {
      padding-top: 22px;
      padding-bottom: 40px;
    }
  }

  &__caption {
    margin-bottom: 10px;
    margin-left: 14px;
    margin-right: 14px;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__roster {
    margin-top: 0;
    margin-bottom: 13px;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .main-reason {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__decoration {
      width: 256px;
      padding: 0;
      margin: 0 auto;

      &--color {
        padding: 0;
      }

      &--bridge {
        padding: 0;
        order: 2;
      }
    }

    &__caption {
      margin-top: 46px;
      margin-bottom: 12px;
      margin-left: 52px;
      margin-right: 52px;
      padding: 0;
      font-size: 21px;
      line-height: 24px;
    }

    &__roster {
      margin-top: 0;
      margin-bottom: 20px;
      padding: 0;
    }

    &__text {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 45px;
      margin-right: 45px;
      padding-left: 0;
      padding-right: 0;
    }

    &__image-wrapper {
      width: 512px;
      height: 256px;
      overflow: hidden;
      margin: 0 auto;
      padding: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-reason {
    &__decoration {
      width: 400px;
      margin: 0;

      &--bridge p {
        margin-left: 90px;
        margin-right: 90px;
      }
    }

    &__caption {
      margin-top: 52px;
      margin-left: 124px;
      margin-right: 124px;
      font-size: 21px;
      line-height: 24px;
    }

    &__text {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 55px;
      margin-right: 55px;
    }

    &__image-wrapper {
      width: 800px;
    }
  }
}
