.main-promo {
width: 320px;
height: 389px;
background-color: #2c434c;
background-image: url(../img/bg-intro-triangle-mobile.svg), url(../img/bg-back-mobile@1x.jpg);
background-position: center bottom, center -50px;
background-repeat: no-repeat, no-repeat;
background-size: 100% 26px, cover;
  border: 1px solid red;

&__image-wrapper {
max-width: 100%;
}

}
