.main-nav {
  margin: 0;
  padding: 0;
  background-color: @white-color;

  &__list {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: @white-color;
    background-color: @navigation-color;
    list-style: none;
  }

  &__list > li:nth-child(1) {
    border-top: none;
  }

  &__list > li:nth-child(4) {
    border-bottom: none;
  }

  &__item {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;

    &__button {
      position: relative;
      top: 50px;
      left: 100px;
      background-color: transparent;
      border: none;
      outline: none;
    }

    &__toggler {
      position: absolute;
      top: 150px;
      left: 200px;
    }

    &__toggler-image {
      position: absolute;
      top: 150px;
      left: 200px;
    }

    &__cross {
      position: absolute;
      right: -287px;
      top: -270px;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 56px;

    &__list {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 14px;
      color: @black-color;
      background-color: @white-color;
    }

    &__item {
      box-sizing: border-box;
      width: 20%;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      border: none;

      &__link {
        color: @black-color;
      }
    }

    &__list > li:nth-child(1) {
      padding: 0;
      margin-left: 16px;
    }

    &__list > li:nth-child(2) {
      padding-right: 0;
      padding-left: 0;
      margin-left: 0;
    }

    &__list > li:nth-child(3) {
      margin-left: 170px;
      margin-right: auto;
      padding-right: 0;
      padding-left: 0;
    }

    &__list > li:nth-child(4) {
      padding-left: 20px;
      margin-left: 0;
      margin-right: 0;
      text-align: right;
    }

    &__button {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    &__item {
      width: 240px;
      margin: 0 auto;
    }

    &__list > li:nth-child(1) {
      padding-right: 35px;
      padding-left: 0;
    }

    &__list > li:nth-child(2) {
      padding-right: 55px;
      padding-left: 0;
    }

    &__list > li:nth-child(3) {
      padding-right: 0;
      padding-left: 120px;
    }

    &__list > li:nth-child(4) {
      padding-right: 0;
      margin-left: 0;
      margin-right: 70px;
      text-align: right;
    }
  }
}
