.main-head {
background-color: #ffffff;

&__caption {
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

&__preview {
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}

}
