.main-photo-head {
  margin: 0;
  padding-top: 37px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: @black-color;
  background-color: @white-color;

  &__caption {
    margin-top: 0;
    margin-bottom: 28px;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__text {
    margin-left: 2px;
    margin-right: 2px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .main-photo-head {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;

    &__caption {
      margin-top: 76px;
      margin-bottom: 30px;
      margin-left: 150px;
      margin-right: 150px;
      font-size: 30px;
    }

    &__text {
      margin-top: 0;
      margin-bottom: 68px;
      margin-left: 160px;
      margin-right: 160px;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-photo-head {

    &__caption {
      margin-top: 110px;
      margin-bottom: 32px;
      margin-left: 375px;
      margin-right: 375px;
    }

    &__text {
      margin-left: 382px;
      margin-right: 382px;
    }
  }
}
