.main-reason {
background-color: #ffffff;

&__decoration {
    color: #000000;
  background-color: #eeeeee;

  &--color {
      color: #ffffff;
    background-color: #81b3d2;
  }
}

&__caption {
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

&__roster {
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
}

&__text {
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
}

}
