.main-promo-form {
  width: 320px;
  height: 158px;
  background-color: @background-promo;
  background-image: url(../img/bg-intro-triangle-mobile.svg), url(../img/bg-back-mobile@1x.jpg);
  background-position: center bottom, center -50px;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 26px, cover;
  border: 1px solid blue;
}
