.page-header {
  background-color: @white-color;

  &__logo {
    position: relative;
    max-width: 100%;
    width: 102px;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  &__button {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
  }

  &__toggler {
    position: absolute;
    top: -40px;
    left: 280px;
  }

  &__cross {
    position: absolute;
    left: 260px;
    top: -260px;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 100%;

    &__button {
      display: none;
    }

    &__logo {
      position: relative;
      width: 26px;
      height: 56px;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
    }

    &__logo-image {
      position: absolute;
      left: -407px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 100%;

    &__logo-image {
      position: absolute;
      left: -650px;
    }
  }
}
