.page-footer {
  margin: 0 auto;
  padding: 0;
  color: @black-color;
  background-color: @footer-color;

  &__hashtag {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-style: normal;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120px;

    &__hashtag {
      display: inline-block;
      width: 256px;
      margin: 0 auto;
      padding-top: 45px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    &__hashtag {
      width: 400px;
    }
  }
}
