.page-footer {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  color: @black-color;
  background-color: @footer-color;
  border: 1px solid green;

  &__hashtag {
    padding-left: 60px;
    padding-right: 60px;
    font-style: normal;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    &__hashtag {
      display: inline-block;
      width: 256px;
      box-sizing: border-box;
      margin: 0 auto;
      padding-top: 45px;
      padding-bottom: 10px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    &__hashtag {
      width: 400px;
      padding-bottom: 5px;
    }
  }
}
