.photo-doubt {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  color: @black-color;
  text-align: center;
  background-color: @white-color;
  border: 1px solid blue;

  &__caption {
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__text {
    padding-left: 42px;
    padding-right: 42px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .photo-doubt {
    width: 648px;
    min-height: 245px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    color: @black-color;
    text-align: center;
    background-color: @white-color;
    border: 1px solid blue;
  }
}

@media (min-width: @desktop-width) {
  .photo-doubt {
    width: 1200px;
    min-height: 245px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    color: @black-color;
    text-align: center;
    background-color: @white-color;
    border: 1px solid blue;
  }
}
