.photo-doubt {
  padding-top: 12px;
  padding-bottom: 20px;
  color: @black-color;
  text-align: center;
  background-color: @white-color;
  border: 1px solid blue;

  &__caption {
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__text {
    padding-left: 42px;
    padding-right: 42px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
  }

}
