.photogallery-item {
  color: #000000;
background-color: #ffffff;

&__caption {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

&__author {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: none;
}

&__like-text {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

}
