.photogallery-item {
  color: @black-color;
  background-color: @white-color;

  &__caption {
    margin-top: 13px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: auto;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
  }

  &__author {
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 14px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: left;
    text-transform: none;
  }

  &__like-text {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .photogallery-item {
    margin: 0;
    padding: 0;


    &__caption {
      margin-top: 13px;
      margin-left: 20px;
    }

    &__author {
      margin-left: 20px;
    }

    &__like-text {
      margin-top: 0;
      margin-left: 0;
      margin-right: 40px;
      margin-bottom: 30px;
      text-align: right;

      &--main {
        margin-top: 0;
        margin-left: 0;
        margin-right: 20px;
        margin-bottom: 30px;
      }
    }
  }
}
