.social-links {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: @white-color;
  text-align: center;
  background-color: @footer-color;
  border: 1px solid blue;
}

@media (min-width: @tablet-width) {
  .social-links {
    width: 256px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 28px;
  }
}

@media (min-width: @desktop-width) {
  .social-links {
    width: 400px;
    margin: 0;
    padding-top: 51px;
    padding-bottom: 51px;
    padding-left: 20px;
    padding-right: 20px;
    color: @white-color;
    text-align: center;
    background-color: @footer-color;
    border: 1px solid blue;
  }
}
