.social-links {
  height: 48px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: @white-color;
  text-align: center;
  background-color: @footer-color;

  &__twitter {
    margin-left: auto;
    margin-right: 6px;
    padding: 15px 14px;
    background-color: @navigation-color;
  }

  &__facebook {
    background-color: @navigation-color;
    margin-right: 6px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 19px;
    padding-right: 19px;
  }

  &__youtube {
    background-color: @navigation-color;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (min-width: @tablet-width) {
  .social-links {
    width: 256px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .social-links {
    width: 400px;
  }
}
