.tourist-container {
  margin: 0;
  padding: 0;
  border: 1px green solid;
}

@media (min-width: @tablet-width) {
  .tourist-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 768px;
    min-height: 330px;
  }
}

@media (min-width: @desktop-width) {
  .tourist-container {
    width: 1200px;
  }
}
