.video-presentation {
  padding-bottom: 50px;
  border: 1px solid blue;

  &__image-wrapper {
    background-color: @video-wrapper;
  }

  &__repeat {
    background-color: @text-area;
  }

  &__buttons {
    background-color: @text-area;
  }

}
