.video-presentation {
  padding-bottom: 50px;

  &__image-wrapper {
    background-color: @video-wrapper;
  }

  &__repeat {
    background-color: @text-area;
  }

  &__buttons {
    background-color: @text-area;
  }
}

@media (min-width: @tablet-width) {
  .video-presentation {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .video-presentation {
    margin: 0;
  }
}
